@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Poppins&display=swap');

body {
    margin: 0;
    background-color: black;
    color: white;
}

#home-wrapper {
    font-family: 'Poppins', sans-serif;
    height: 200vh;
}

.header {
    z-index: 10;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    top: 0;
    width: 100%;
    background-color: rgba(58, 95, 11, 0.5);
    /* position: sticky; */
}

#palms-pic {
    height: 40%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url('./images/palms.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: #FEF3E2;
}

.header-item {
    font-family: 'Nunito', sans-serif;
    cursor: pointer;
    scale: 1;
    transition: 0.2s  all ease;
    color: white;
}

.header-item:hover {
    scale: 1.05;
}

.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 64px;
    opacity: 0;
    transition: 1.5s all ease;
}

.title.loaded{
    opacity: 1;
}

.video-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
    gap: 50px;
    padding: 3%;
    color: white;
    padding-bottom: 5%;
    background-color: #9d6204;
}

.video-title {
    font-size: 24px;
}

.video-text{
    width: 70%;
    text-align: center;
}

.scroll-anim {
    transform: translateY(50px);
    opacity: 0;
    transition: 0.5s all ease;
}

.scroll-anim.active {
    transform: translateY(0);
    opacity: 1;
}

.video {
    width: 60%;
    height: 80%;
    border: 1px solid white;
}

#residents-section {
    width: 100%;
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
    background-color: #7f9ecb;
    color: black;
}

#residents-grid {
    margin-top: 100px;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.res-grid {
    padding-inline: 15px;
    border: 2px solid black;
    border-radius: 16px;
    padding-block: 40px;
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 35px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.res-pic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 1px solid black;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}

.res-btn {
    cursor: pointer;
    border: 1px solid black;
    padding: 10px;
    border-radius: 16px;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    transition: 0.2s all ease;
}

.res-btn:hover {
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}

.res-name {
    font-size: 24px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    align-items: center;
    justify-content: center;
}
  
.modal-content {
    position: relative;
    background-color: #6b6b6b;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    height: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    animation-name: animatetop;
    animation-duration: 0.4s
}
  
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}
  
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-right: 15px;
}
  
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
  